mat-card{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 55px;
    margin-left: 15px;

  text-align: center;

     display: grid;

}
img{
    width:300px;
    height:300px;
}
.price{
    color:rgb(47, 230, 47);
}

