<mat-card style="width: 300px;">
<mat-card-title>Edit Dessert</mat-card-title>
<mat-card-content>
  <mat-form-field appearance="fill" floatLbel='auto'>
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="name" required>

  </mat-form-field>
  <br />
  <mat-form-field appearance="fill" floatLbel='auto'>
    <mat-label>Description</mat-label>
    <textarea matInput type="text" [(ngModel)]="description" required></textarea>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill" floatLbel='auto'>
    <mat-label>Price</mat-label>
    <input matInput type="text" [(ngModel)]="price" required>
  </mat-form-field>
  <br />

  <!-- <div>
    <mat-label class="col-md-4">Image</mat-label>
    <br/>
    <input type="file" class="form-control-file" accept="image/*" (change)="onSelectFile($event)" [(ngModel)]="image" />
    <br />
    <img [src]="url" height="200"> <br />
  </div> -->
  <!-- <mat-label>Image</mat-label>
  <input type="file" id="customFile" (change)="selectFile($event)" accept="image/*" [(ngModel)]="image"/>
  <button class="btn btn-primary"  (click)="upload()">Save File</button>
   -->
  <mat-form-field appearance="fill" floatLbel='auto'>
    <mat-label>Image</mat-label>
    <input matInput type="text"[(ngModel)]="image" required>
  </mat-form-field>
  

  <br />
  <button mat-raised-button color="primary" (click)="editDessert()">Submit</button>
</mat-card-content>
</mat-card>