<mat-card style="width: 300px;">
<mat-card-title>Add Dessert</mat-card-title>
<mat-card-content>
<mat-form-field appearance="fill" floatLbel='auto'>
  <mat-label>Name</mat-label>
  <input matInput type="text"[(ngModel)]="name" required>
</mat-form-field>
<br/>

<mat-form-field appearance="fill" floatLbel='auto'>
  <mat-label>Description</mat-label>
  <textarea matInput type="text"[(ngModel)]="description" required></textarea>
</mat-form-field>
<br/>

<mat-form-field appearance="fill" floatLbel='auto'>
  <mat-label>Price</mat-label>
  <input matInput type="text"[(ngModel)]="price" required>
</mat-form-field>
<br/>


<mat-label>Image</mat-label>
<input type="file" id="customFile" (change)="selectFile($event)" accept="image/*" [(ngModel)]="image" required/>
<br/>
<button mat-raised-button color="primary" (click)="upload()">Upload</button>
<button mat-raised-button color="primary" (click)="addDessert()">Submit</button>
</mat-card-content>
</mat-card>
