<button mat-button color="primary" (click)="print()">Print</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td><img src="{{order.bagItem.image}}"></td>
      <td>{{order.bagItem.name}}</td>

      <td> 
       

        <select matNativeControl [(ngModel)]="order.quantity" (change)="Change(order.quantity)" (change)="editOrder(order.orderId)" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

  </td>
      <td><button mat-raised-button (click)="deleteOrder(order.orderId)" color="primary"><mat-icon>remove_circle</mat-icon></button>
        <td>${{order.totalPrice | number : '1.2-2'}}</td>
    </tr>
   
  </tbody>
</table>

   

  <div class="row">
    <div class="col-lg-8 col-sm-5">
    </div>
    <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
            <tbody>
                <tr>
                    <td class="left">
                        <strong class="text-dark">Subtotal</strong>
                    </td>
                    <td class="right">${{subtotal | number : '1.2-2'}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong class="text-dark">Taxes(6%)</strong>
                        
                    </td>
                    <td class="right">${{tax | number : '1.2-2'}}</td>
                </tr>

                <tr>
                    <td class="left">
                        <strong class="text-dark">Grand Total:</strong> </td>
                    <td class="right" style="color: green;">
                        <strong class="text-dark">${{grandtotal | number : '1.2-2'}}</strong>
                    </td>
                </tr>
              
            </tbody>
           
        </table> 
       
    </div>
 </div>
  <button mat-raised-button color="primary" (click)="openDialog()">Proceed to checkout ({{items}} items)</button>
  