
<div class="wrapper fadeInDown">
    <div id="formContent">
    <p>Already a member? <a href="/login">Log In </a></p>
        <br />
        <mat-form-field appearance="fill" floatLbel='auto'>
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" floatLbel='auto'>
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Register</button>
    
    </div>
</div>